<section class="section">
  <div class="container">
    <h1 class="title">Create a new category</h1>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Type the new category name" formControlName="name" [ngClass]="{ 'is-danger': submitted && f.name.errors }">
        </div>
        <p class="help is-danger" *ngIf="submitted && f.name.errors">Category name is required</p>
      </div>
      <div class="container">
          <button type="submit" class="button is-info">Submit</button>
      </div>
    </form>
  </div>
</section>